## Import Libraries

In [5]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [6]:
movies = pd.read_csv('my_movies.csv')
movies.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

## Pre-Processing
#### As the data is not in transaction formation, we are using transaction Encoder

In [8]:
df = pd.get_dummies(movies)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

## Apriori Algorithm

In [10]:
frequent_itemsets = apriori(df, min_support = 0.1, use_colnames = True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...
1393      0.1  (V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...
1394      0.1  (V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...
1395      0.1  (V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...
1396      0.1  (V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...

[1397 rows x 2 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric = 'lift', min_threshold = 0.7)
rules
# rules.sort_values('lift', ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(Sixth Sense),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
64248,(V2_LOTR1),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(V5_LOTR2),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(Green Mile),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(LOTR1),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [12]:
rules.sort_values('lift', ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Sixth Sense, Green Mile, V5_LOTR2, V3_Harry P...","(LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33436,"(Sixth Sense, V5_LOTR2, V2_LOTR1)","(V4_Green Mile, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33414,"(Sixth Sense, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(Sixth Sense, V4_Green Mile, V5_LOTR2)","(V2_LOTR1, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(Sixth Sense, V4_Green Mile, LOTR1)","(V2_LOTR1, V5_LOTR2, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V4_Green Mile, V5_LOTR2, V2_LOTR1)","(Sixth Sense, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V4_Green Mile, V2_LOTR1, LOTR1)","(Sixth Sense, V5_LOTR2, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V4_Green Mile, V5_LOTR2, LOTR1)","(Sixth Sense, V2_LOTR1, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(Sixth Sense, LOTR2, Harry Potter1)","(V4_Green Mile, V5_LOTR2, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V2_LOTR1, LOTR2, Harry Potter1)","(Sixth Sense, V4_Green Mile, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [13]:
rules.sort_values('lift' ,ascending = False)[:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Sixth Sense, Green Mile, V5_LOTR2, V3_Harry P...","(LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33436,"(Sixth Sense, V5_LOTR2, V2_LOTR1)","(V4_Green Mile, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33414,"(Sixth Sense, V4_Green Mile, V2_LOTR1)","(V5_LOTR2, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(Sixth Sense, V4_Green Mile, V5_LOTR2)","(V2_LOTR1, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(Sixth Sense, V4_Green Mile, LOTR1)","(V2_LOTR1, V5_LOTR2, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(V4_Green Mile, V5_LOTR2, V2_LOTR1)","(Sixth Sense, LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(V4_Green Mile, V2_LOTR1, LOTR1)","(Sixth Sense, V5_LOTR2, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V4_Green Mile, V5_LOTR2, LOTR1)","(Sixth Sense, V2_LOTR1, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(Sixth Sense, LOTR2, Harry Potter1)","(V4_Green Mile, V5_LOTR2, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V2_LOTR1, LOTR2, Harry Potter1)","(Sixth Sense, V4_Green Mile, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(V5_LOTR2, LOTR2, Harry Potter1)","(Sixth Sense, V4_Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(LOTR2, Harry Potter1, LOTR1)","(Sixth Sense, V4_Green Mile, V5_LOTR2, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(Sixth Sense, LOTR2, V2_LOTR1)","(V4_Green Mile, V5_LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(Sixth Sense, LOTR2, V5_LOTR2)","(V2_LOTR1, V4_Green Mile, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(Sixth Sense, LOTR2, LOTR1)","(V2_LOTR1, V4_Green Mile, V5_LOTR2, Harry Pott...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(V5_LOTR2, LOTR2, V2_LOTR1)","(Sixth Sense, V4_Green Mile, Harry Potter1, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(LOTR2, V2_LOTR1, LOTR1)","(Sixth Sense, V4_Green Mile, V5_LOTR2, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(LOTR2, V5_LOTR2, LOTR1)","(Sixth Sense, V4_Green Mile, Harry Potter1, V2...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(Sixth Sense, V2_LOTR1, Harry Potter1)","(V4_Green Mile, LOTR2, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(Sixth Sense, V5_LOTR2, Harry Potter1)","(V4_Green Mile, LOTR2, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [17]:
rules[rules.lift<2]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
62205,(Sixth Sense),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
62214,"(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
62715,(Sixth Sense),"(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
63234,"(V1_Sixth Sense, V4_Green Mile, LOTR1, LOTR2, ...",(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
64247,(Sixth Sense),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

In [18]:
rules[rules.lift>9]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
124,(Harry Potter2),(V1_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
125,(V1_Harry Potter1),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
126,(V2_Harry Potter2),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
127,(Harry Potter2),(V2_Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
132,(V2_LOTR),(LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
...,...,...,...,...,...,...,...,...,...
64240,"(V5_LOTR2, LOTR1)","(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64241,"(Green Mile, LOTR1)","(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64242,(V3_Harry Potter1),"(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64248,(V2_LOTR1),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64249,(V5_LOTR2),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [19]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80,1
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40,1
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96,1
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80,1
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96,1
...,...,...,...,...,...,...,...,...,...,...
64247,(Sixth Sense),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08,1
64248,(V2_LOTR1),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1
64249,(V5_LOTR2),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf,1
64250,(Green Mile),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1
64251,(LOTR1),"(V3_Harry Potter1, V1_Sixth Sense, V4_Green Mi...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80,1

In [24]:
rules[ (rules['antecedent_len'] >= 8) &
       (rules['confidence'] > 0.50) &
       (rules['lift'] > 9) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
58132,"(V1_Sixth Sense, V4_Green Mile, LOTR1, LOTR2, ...",(V2_LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf,8
58138,"(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...",(V3_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf,8
58642,"(V1_Sixth Sense, LOTR1, LOTR2, Harry Potter1, ...",(V5_LOTR2),0.1,0.1,0.1,1.0,10.0,0.09,inf,8
58643,"(V1_Sixth Sense, LOTR1, LOTR2, Harry Potter1, ...",(V2_LOTR1),0.1,0.1,0.1,1.0,10.0,0.09,inf,8
58648,"(V1_Sixth Sense, LOTR2, Harry Potter1, Sixth S...",(V3_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf,8
...,...,...,...,...,...,...,...,...,...,...
63280,"(V1_Sixth Sense, V4_Green Mile, LOTR2, Harry P...","(Sixth Sense, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,8
63281,"(V1_Sixth Sense, V4_Green Mile, LOTR2, Sixth S...","(Harry Potter1, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,8
63282,"(V1_Sixth Sense, V4_Green Mile, Harry Potter1,...","(LOTR2, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,8
63283,"(V1_Sixth Sense, LOTR2, Harry Potter1, Sixth S...","(V4_Green Mile, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,8
63284,"(V4_Green Mile, LOTR2, Harry Potter1, Sixth Se...","(V1_Sixth Sense, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf,8